@import "../node_modules/normalize.css/normalize.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.scss";
@import "scss/general/fonts.scss";
@import "scss/blocks/page/page.scss";
@import "scss/blocks/navigation/navigation.scss";
@import "scss/blocks/section-menu/section-menu.scss";
@import "scss/blocks/logo/logo.scss";
@import "scss/blocks/section-header/section-header.scss";
@import "scss/blocks/caption/caption.scss";
@import "scss/blocks/description/description.scss";
@import "scss/blocks/button/button.scss";
@import "scss/blocks/section/section.scss";
@import "scss/blocks/about/about.scss";
@import "scss/blocks/content-header/content-header.scss";
@import "scss/blocks/services/services.scss";
@import "scss/blocks/work/work.scss";
