.contact {
    position: relative;
    background-color: #252525;
    background-image: url("../img/contact-bg-small.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    font: inherit;
    color: #fff;
}

.contact__list-image-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #3949ab;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 0 auto 35px;
}

.contact__list-image {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
}

.contact__list-image_email_margin {
    top: 30px;
    left: 2px;
}

.contact__list-info {
    font: inherit;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 1.6em;
}

.contact__input-name {
    margin-bottom: 15px;
}

.contact_input-block {
    margin-top: 15px;
}

.contact__input-textarea {
    resize: none;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .contact {
        background-image: url("../img/contact-bg-medium.jpg");
    }
}

@media only screen and (min-width: 992px) {
    .contact {
        background-image: url("../img/contact-bg-large.jpg");
    }
}
