.about {
    background-color: #fff;
    font: inherit;
    color: inherit;
}

.about_reset_bottom-padding {
    padding-bottom: 0;
}

.about__caption-list {
    margin: 0;
    font: inherit;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 100px;
}

.about__icon-web::before,
.about__icon-transfer::before,
.about__icon-head::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    background-repeat: no-repeat;
}

.about__icon-web::before {
    background-image: url("../img/icon-web.png");
    width: 62px;
    height: 62px;
    margin-left: -30px;
}

.about__icon-transfer::before {
    background-image: url("../img/icon-transfer.png");
    width: 70px;
    height: 60px;
    margin-left: -35px;
}

.about__icon-head::before {
    background-image: url("../img/icon-head.png");
    width: 57px;
    height: 63px;
    margin-left: -28px;
}

.about__description-list {
    font: inherit;
    color: inherit;
    margin: 0;
    padding-bottom: 30px;
    font-size: 15px;
}

.about__list:hover,
.about__list:focus {
    background-color: #d6b3b3;
}

@media only screen and (min-width: 768px) {
    .about__description-list {
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .about__description-list {
        padding-bottom: 125px;
    }
}
