.footer {
    background-color: #fff;
    font: inherit;
    color: inherit;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.footer__coppy {
    font: inherit;
    color: inherit;
    padding: 20px 0;
    text-align: center;
    display: block;
}
