.content-header {
    margin: 0 auto;
    max-width: 630px;
    margin-bottom: 30px;
}

.content-header__caption {
    margin-bottom: 15px;
}

.content-header__description {
    margin-bottom: 30px;
}
