.navigation {
    font: inherit;
    color: inherit;
}

.navigation__list {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

.navigation__item {
    border-top: 1px solid #212121;
}

.navigation__link {
    display: block;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    padding: 14px 0;
}

.navigation__search-form {
    position: relative;
}

.navigation__icon-search {
    position: absolute;
    top: 25px;
    left: 10px;
}

.navigation__search {
    box-sizing: border-box !important;
    width: 100%;
    border: 1px solid #212121;
    padding: 5px 10px 5px 35px;
    margin-top: 15px;
}

.navigation__button {
    position: absolute;
    right: 6px;
    top: 0;
    width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.navigation__burger-block {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.navigation__burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -1px;
    width: 36px;
    height: 2px;
    background-color: #212121;
}

.navigation__burger-first {
    margin-top: -11px;
}

.navigation__burger-third {
    margin-top: 10px;
}

.navigation-burger__hidden > .navigation__burger-first,
.navigation-burger__hidden > .navigation__burger-third {
    margin-top: 0;
}

.navigation-burger__hidden > .navigation__burger-second {
    display: none;
}

.navigation-burger__hidden > .navigation__burger-first {
    transform: rotate(-45deg);
}

.navigation-burger__hidden > .navigation__burger-third {
    transform: rotate(45deg);
}

.navigation__hidden {
    display: none;
}

.navigation__link-search {
    display: none;
}

.navigation__button-cross {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navigation__button {
        display: none;
    }

    .navigation__list {
        margin: 0;
        float: right;
    }

    .navigation__item {
        border-top: none;
        display: inline-block;
        padding: 0 8px;
    }

    .navigation__link {
        font-size: 14px;
        padding: 0;
    }

    .navigation__hidden {
        display: block;
    }

    .navigation__search-form-block {
        display: none;
    }

    .section-menu__content {
        padding: 25px 0;
    }

    .navigation__link-search {
        display: block;
    }

    .navigation__icon-search {
        position: static;
        top: 0;
        left: 0;
    }

    .navigation__desc-search_show {
        display: block;
    }

    .navigation__desc-search_show .navigation__search-form-block {
        display: block;
    }

    .navigation__desc-search_show .navigation__search-form {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 0 20%;
    }

    .navigation__desc-search_show .navigation__icon-search {
        position: absolute;
        top: 25px;
        left: 21%;
    }

    .navigation__desc-search_show .navigation__search {
        padding: 5px 35px 5px 35px;
        margin: 15px 0;
    }

    .navigation__button-cross {
        display: block;
        background-image: url("../img/icon-cross.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19px 19px;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 15px;
        right: 20%;
        border: none;
        background-color: transparent;
    }
}

@media only screen and (min-width: 992px) {
    .navigation__link {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    .navigation__link {
        font-size: 20px;
    }

    .section-menu__content {
        padding: 50px 0;
    }

    .navigation__item {
        padding: 0 10px;
    }

    .navigation__icon-search {
        width: 19px;
        height: 19px;
        top: 45px;
    }

    .navigation__desc-search_show .navigation__search {
        margin: 35px 0;
    }

    .navigation__button-cross {
        top: 35px;
    }

    .navigation__desc-search_show .navigation__icon-search {
        top: 45px;
    }
}

