.description {
    margin: 0;
    font: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2em;
}

.section-header__description {
    max-width: 330px;
    margin: 0 auto 45px;
    padding: 0 20px;
}


@media only screen and (min-width: 768px) {
    .section-header__description {
        font-size: 18px;
        max-width: none;
        margin: 0 auto 45px;
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {
    .section-header__description {
        font-size: 22px;
        margin-bottom: 110px;
    }
}
